<?xml version="1.0"?>
<launch>
  <!-- rosprolog for storing & providing ontology services -->
  <param name="initial_package" type="string" value="rearrange" />
  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" output="screen"/>
  <node name="map_generator_node" pkg="rearrange" type="map_generator_node" output="screen"/>
  <node name="object_list_node" pkg="rearrange" type="object_list_node.py" output="screen" args=""/>
  <node name="navigate_drink_server" pkg="rearrange" type="navigation_node.py" output="screen" args=""/>


</launch>